<app-card>
  <h2 card-title>List years with multiple winners</h2>
  <div card-content>
    <app-table
      [loading]="loading()"
      [hasError]="hasError()"
      [data]="data$ | async"
      [shimmerRows]="3"
      (onRetry)="onRetry()"
    >
      <ng-container matColumnDef="year">
        <span mat-header-cell *matHeaderCellDef>Year</span>
        <span mat-cell *matCellDef="let element">{{ element.year }}</span>
      </ng-container>

      <ng-container matColumnDef="winnerCount">
        <span mat-header-cell *matHeaderCellDef>Win Count</span>
        <span mat-cell *matCellDef="let element">{{
          element.winnerCount
        }}</span>
      </ng-container>
    </app-table>
  </div>
</app-card>
