<table mat-table [dataSource]="loading() ? emptyRows() : data()">
  <ng-container *ngFor="let columnDef of columnDefs">
    <ng-container [matColumnDef]="columnDef.name">
      <th
        mat-header-cell
        *matHeaderCellDef
        [ngStyle]="{ width: 100 / columnDefs.length + '%' }"
      >
        <ng-container
          *ngTemplateOutlet="columnDef.headerCell.template"
        ></ng-container>
      </th>
      <td mat-cell *matCellDef="let element" colspan="1">
        <div class="w-full">
          @if (loading()) { <app-shimmer /> } @else {
          <ng-container
            *ngTemplateOutlet="
              columnDef.cell.template;
              context: { $implicit: element }
            "
          ></ng-container>
          }
        </div>
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns()"></tr>
  <tr mat-row *matRowDef="let row; columns: columns()"></tr>
</table>
