<app-table
  [formGroup]="form"
  [data]="data()?.content"
  [loading]="loading()"
  [shimmerRows]="defaultPageLength()"
  [hasError]="hasError()"
>
  <ng-container matColumnDef="id">
    <span mat-header-cell *matHeaderCellDef>ID</span>
    <span mat-cell *matCellDef="let element">{{ element.id }}</span>
  </ng-container>

  <ng-container matColumnDef="year">
    <div mat-header-cell *matHeaderCellDef class="flex flex-col max-w-56">
      <app-year-header-cell
        [control]="form.controls.year"
        (onClearYearFilter)="clearYearFilter()"
      />
    </div>
    <span mat-cell *matCellDef="let element">{{ element.year }}</span>
  </ng-container>

  <ng-container matColumnDef="title">
    <span mat-header-cell *matHeaderCellDef>Title</span>
    <span mat-cell *matCellDef="let element">{{ element.title }}</span>
  </ng-container>

  <ng-container matColumnDef="winner">
    <div mat-header-cell *matHeaderCellDef class="flex flex-col max-w-56">
      <app-winner-header-cell
        [control]="form.controls.winner"
        (onClearWinnerFilter)="clearWinnerFilter()"
      />
    </div>
    <span mat-cell *matCellDef="let element">{{ element.winner | yesNo }}</span>
  </ng-container>
</app-table>
