<div class="min-h-[200px] max-h-[370px] overflow-auto">
  <app-table
    [loading]="loading()"
    [hasError]="hasError()"
    [data]="data()"
    [stickyHeader]="true"
    [shimmerRows]="6"
  >
    <ng-container matColumnDef="id">
      <span mat-header-cell *matHeaderCellDef>ID</span>
      <span mat-cell *matCellDef="let element">{{ element.id }}</span>
    </ng-container>

    <ng-container matColumnDef="year">
      <span mat-header-cell *matHeaderCellDef>Year</span>
      <span mat-cell *matCellDef="let element">{{ element.year }}</span>
    </ng-container>

    <ng-container matColumnDef="title">
      <span mat-header-cell *matHeaderCellDef>Title</span>
      <span mat-cell *matCellDef="let element">{{ element.title }}</span>
    </ng-container>
  </app-table>
</div>
