<app-card>
  <h2 card-title>Top 3 studio with winners</h2>
  <div card-content>
    <app-table
      [loading]="loading()"
      [hasError]="hasError()"
      [data]="data$ | async"
      (onRetry)="onRetry()"
      [shimmerRows]="3"
    >
      <ng-container matColumnDef="name">
        <span mat-header-cell *matHeaderCellDef>Name</span>
        <span mat-cell *matCellDef="let element">{{ element.name }}</span>
      </ng-container>

      <ng-container matColumnDef="winCount">
        <span mat-header-cell *matHeaderCellDef>Win Count</span>
        <span mat-cell *matCellDef="let element">{{ element.winCount }}</span>
      </ng-container>
    </app-table>
  </div>
</app-card>
