<h3 class="font-medium">{{ title() }}</h3>
<app-table
  [loading]="loading()"
  [hasError]="hasError()"
  [data]="data()"
  [shimmerRows]="3"
>
  <ng-container matColumnDef="producer">
    <span mat-header-cell *matHeaderCellDef>Producer</span>
    <span mat-cell *matCellDef="let element">{{ element.producer }}</span>
  </ng-container>

  <ng-container matColumnDef="interval">
    <span mat-header-cell *matHeaderCellDef>Interval</span>
    <span mat-cell *matCellDef="let element">{{ element.interval }}</span>
  </ng-container>

  <ng-container matColumnDef="previousWin">
    <span mat-header-cell *matHeaderCellDef>Previous Year</span>
    <span mat-cell *matCellDef="let element">{{ element.previousWin }}</span>
  </ng-container>

  <ng-container matColumnDef="followingWin">
    <span mat-header-cell *matHeaderCellDef>Following Year</span>
    <span mat-cell *matCellDef="let element">{{ element.followingWin }}</span>
  </ng-container>
</app-table>
