<mat-sidenav-container class="h-full">
  <mat-sidenav
    #sidenav
    mode="push"
    class="sidenav border-r"
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <app-menu
      (onCloseButtonClick)="sidenav.close()"
      (onMenuItemClick)="sidenav.close()"
    />
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar (onMenuClick)="sidenav.toggle()" />

    <div class="p-6">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
