.card--info {
  background: var(--mat-sys-surface-container-low) !important;
  color: var(--mat-sys-on-surface-container-low) !important;
}

.card--error {
  background: var(--mat-sys-error-container) !important;
  color: var(--mat-sys-on-error-container) !important;
}
