<h1 class="text-center border-b flex items-center px-4">
  <a href="#" class="block py-6 flex-1 font-medium">Menu</a>
  <button
    data-test-id="close-menu"
    mat-icon-button
    aria-label="Fechar menu"
    (click)="onCloseButtonClick.emit()"
  >
    <mat-icon>close</mat-icon>
  </button>
</h1>

<div class="px-6">
  <mat-nav-list class="space-y-2">
    <a
      #itemHome
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [activated]="itemHome._hostElement.classList.contains('active')"
      mat-list-item
      (click)="onMenuItemClick.emit()"
      >Dashboard</a
    >
    <a
      #itemList
      routerLink="/list"
      routerLinkActive="active"
      [activated]="itemList._hostElement.classList.contains('active')"
      mat-list-item
      (click)="onMenuItemClick.emit()"
      >List</a
    >
  </mat-nav-list>
</div>
