<app-card>
  <h2 card-title>List movies</h2>
  <div card-content class="pt-4">
    <app-list-table
      [data]="getMovies$ | async"
      [defaultPageLength]="defaultPageLength"
      [loading]="loading()"
      [hasError]="hasError()"
      (onFilter)="onFilter($event)"
    />

    <app-paginator
      *ngIf="!hasError()"
      [data]="getMovies$ | async"
      [defaultPageLength]="defaultPageLength"
      [loading]="loading()"
      [currentPage]="currentPage()"
      (onPageChange)="onPageChange($event)"
    />
  </div>
</app-card>
